<form role="form" class="form-horizontal">
  {{bs-text-field valueProperty=batchSizeLitres appendText="litres"}}

  {{bs-text-field valueProperty=boilLossLitres appendText="litres"}}

  {{bs-text-field valueProperty=efficiency appendText="%"}}

  {{bs-text-field valueProperty=targetMashTemp appendText="°C"}}

  {{bs-text-field valueProperty=waterGrainRatioMetric appendText="litres/kg"}}

  {{bs-text-field valueProperty=grainTemp appendText="°C"}}

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button class="btn btn-primary" type="submit" {{action 'save' this}}>Save</button>
      <button class="btn btn-default" type="submit" {{action 'cancel' this}}>Cancel</button>
    </div>
  </div>
</form>
