<form role="form" class="form-horizontal">
  <div class="form-group">
    <label for="unknown" class="col-sm-2 control-label">Batch Size</label>
    <div class="col-sm-10">
      {{input value=batchSize class='brew-batch-size form-control'}}
    </div>
  </div>

  <div class="form-group">
    <label for="unknown" class="col-sm-2 control-label">Boil Loss</label>
    <div class="col-sm-10">
      {{input value=boilLoss class='brew-boil-loss form-control'}}
    </div>
  </div>

  <div class="form-group">
    <label for="unknown" class="col-sm-2 control-label">Efficiency</label>
    <div class="col-sm-10">
      {{input value=efficiency class='brew-efficiency form-control'}}
    </div>
  </div>

  <div class="form-group">
    <label for="unknown" class="col-sm-2 control-label">Target Mash Temperature</label>
    <div class="col-sm-10">
      {{input value=targetMashTemp class='brew-target-mash-temp form-control'}}
    </div>
  </div>

  <div class="form-group">
    <label for="unknown" class="col-sm-2 control-label">Water/Grain Ratio</label>
    <div class="col-sm-10">
      {{input value=waterGrainRatio class='brew-water-grain-ratio form-control'}}
    </div>
  </div>

  <div class="form-group">
    <label for="unknown" class="col-sm-2 control-label">Grain Temperature</label>
    <div class="col-sm-10">
      {{input value=grainTemp class='brew-grain-temp form-control'}}
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button class="btn btn-primary" type="submit" {{action 'save' this}}>Save</button>
      <button class="btn btn-default" type="submit" {{action 'cancel' this}}>Cancel</button>
    </div>
  </div>
</form>
