<form role="form" class="form-horizontal">
  <ConvertibleTextField
    @object={{this}}
    @convertibleProperty="batchSize"
    @type="volume"
    @measureSystem={{measureSystem}}
  />

  <ConvertibleTextField
    @object={{this}}
    @convertibleProperty="boilLoss"
    @type="volume"
    @measureSystem={{measureSystem}}
  />

  <BsTextField
    @model={{model}}
    @property="efficiency"
    @appendText="%"
  />

  <ConvertibleTextField
    @object={{this}}
    @convertibleProperty="targetMashTemp"
    @type="temp"
    @measureSystem={{measureSystem}}
  />

  <ConvertibleTextField
    @object={{this}}
    @convertibleProperty="waterGrainRatio"
    @type="ratio"
    @measureSystem={{measureSystem}}
  />

  <ConvertibleTextField
    @object={{model}}
    @convertibleProperty="grainTemp"
    @type="temp"
    @measureSystem={{measureSystem}}
  />

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button class="btn btn-primary" type="submit" {{action "save" model}}>Save</button>
      <button class="btn btn-default" type="submit" {{action "cancel"}}>Cancel</button>
    </div>
  </div>
</form>
