<Form @model={{this}} as |F|>
  <F.ConvertibleTextField
    @field="batchSize"
    @type="volume"
  />
  <F.ConvertibleTextField
    @field="boilLoss"
    @type="volume"
  />
  <F.TextField
    @model={{this.model}}
    @field="efficiency"
    @appendText="%"
  />
  <F.ConvertibleTextField
    @field="targetMashTemp"
    @type="temp"
  />
  <F.ConvertibleTextField
    @field="waterGrainRatio"
    @type="ratio"
  />
  <F.ConvertibleTextField
    @field="grainTemp"
    @type="temp"
  />
  <F.Submit
    @action={{action "sendSave" model}}
    class="mr-6"
    disabled={{isProcessing}}
  >
    Save
  </F.Submit>
  <F.Cancel
    @action={{action "sendCancel" model}}
  >
    Cancel
  </F.Cancel>
</Form>
