<form role="form" class="form-horizontal">
  {{convertible-text-field
    object=model
    convertibleProperty="batchSize"
    type="volume"
    measureSystem=measureSystem
  }}

  {{convertible-text-field
    object=model
    convertibleProperty="boilLoss"
    type="volume"
    measureSystem=measureSystem
  }}

  {{bs-text-field
    model=model
    property="efficiency"
    appendText="%"
  }}

  {{convertible-text-field
    object=model
    convertibleProperty="targetMashTemp"
    type="temp"
    measureSystem=measureSystem
  }}

  {{bs-text-field
    model=model
    property="waterGrainRatioMetric"
    appendText="litres/kg"
  }}

  {{convertible-text-field
    object=model
    convertibleProperty="waterGrainRatio"
    type="ratio"
    measureSystem=measureSystem
  }}

  {{convertible-text-field
    object=model
    convertibleProperty="grainTemp"
    type="temp"
    measureSystem=measureSystem
  }}

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button class="btn btn-primary" type="submit" {{action "save" model}}>Save</button>
      <button class="btn btn-default" type="submit" {{action "cancel"}}>Cancel</button>
    </div>
  </div>
</form>
