{{#linkTo 'specs.edit' class="btn btn-default pull-right edit-specs"}}<i class="glyphicon glyphicon-pencil"></i> Edit{{/linkTo}}

<table class="table">
  <tr>
    <td>Batch Size</td>
    <td>{{batchSize}} litres</td>
  </tr>
  <tr>
    <td>Boil Loss</td>
    <td>{{boilLoss}} litres</td>
  </tr>
  <tr>
    <td>Efficiency</td>
    <td>{{efficiency}} %</td>
  </tr>
  <tr>
    <td>Target Mash Temperature</td>
    <td>{{targetMashTemp}} °C</td>
  </tr>
  <tr>
    <td>Water/Grain Ratio</td>
    <td>{{waterGrainRatio}} litres/Kg</td>
  </tr>
  <tr>
    <td>Grain Temperature</td>
    <td>{{grainTemp}} °C</td>
  </tr>
</table>
