{{#if glyphIcon}}
  <span class="glyphicon slate-statbox-icon {{glyphIcon}}"></span>
{{else}}
  <i class="fa slate-statbox-icon {{faIcon}}"></i>
{{/if}}
<div class="slate-statbox-title">{{property}} <span class="text-muted small">{{unitOfMesure}}</span></div>
<div class="slate-statbox-value">{{propertyDescription}}</div>
