<div class="border flex-1 p-4 rounded" ...attributes>
  {{#if @glyphIcon}}
    <span class="glyphicon slate-statbox-icon {{@glyphIcon}}"></span>
  {{else}}
    <i class="fa slate-statbox-icon {{@faIcon}}"></i>
  {{/if}}
  <div class="text-2xl">{{@property}} <span class="text-base text-grey-dark">{{unitOfMesure}}</span></div>
  <div class="text-grey-dark">{{@propertyDescription}}</div>
</div>
