<div class="mb-6">
  <label
    for={{this.inputId}}
    class="block text-grey-darker text-sm font-bold mb-2"
  > {{label-text @field}}
  </label>
  <div class="flex">
    {{#let (get @model @field) as |value|}}
      <input
        class={{concat
          (if @appendText "border-r-0 rounded-l " "rounded ")
          "border shadow appearance-none  w-full py-2 px-3 text-grey-darkest leading-tight focus:outline-none focus:shadow-outline"
        }}
        value={{value}}
        oninput={{action (mut value) value="target.value"}}
        id={{this.inputId}}
        type={{this.inputType}}
        placeholder={{concat "Enter " (label-text @field)}}
      >
    {{/let}}
    {{#if @appendText}}
      <span
        class="bg-grey-light block border border-grey hello px-2 py-2 rounded-r shadow">
        {{@appendText}}
      </span>
    {{/if}}
  </div>
</div>
