<form role="form" class="form-horizontal">
  <BsTextField
    @model={{model}}
    @property="brewDate"
    @appendText="litres"
  />

  <BsTextField
    @model={{model}}
    @property="recordedOriginalGravity"
    @appendText="S.G."
  />

  <ConvertibleTextField
    @object={{this}}
    @convertibleProperty="recordedPostBoilVolume"
    @type="volume"
    @measureSystem={{measureSystem}}
  />

  <BsTextField
    @model={{model}}
    @property="recordedFinalGravity"
    @appendText="S.G."
  />

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button class="btn btn-primary" type="submit" {{action "save" model}}>Save</button>
      <button class="btn btn-default" type="submit" {{action "cancel"}}>Cancel</button>
    </div>
  </div>
</form>
