{{#if this.canEdit}}
  {{#link-to
    "brew_day.edit"
    class="border float-right hover:bg-grey-lighter no-underline px-2 px-4 py-1 rounded text-grey-darkest text-sm"
  }}
    <i class="glyphicon glyphicon-edit"></i> Edit
  {{/link-to}}
{{/if}}
<h2 class="border-b font-normal mb-6">Brew Day</h2>
<Table as |T|>
  <T.Body>
    <T.Row>
      <T.Cell>Brew Date</T.Cell>
      <T.Cell>
        {{#if model.brewDate}}
          {{model.brewDate}}
        {{else}}
          <span class="text-muted">—</span>
        {{/if}}
      </T.Cell>
    </T.Row>
    <T.Row>
      <T.Cell>Recorded Original Gravity</T.Cell>
      <T.Cell>
        {{#if model.recordedOriginalGravity}}
          {{model.recordedOriginalGravity}}
        {{else}}
          <span class="text-muted">—</span>
        {{/if}}
      </T.Cell>
    </T.Row>
    <T.Row>
      <T.Cell>Recorded Post-Boil Volume</T.Cell>
      <T.Cell>
        {{#if recordedPostBoilVolumePresent}}
          <LocalizedVolume
            @model={{model}}
            @measureSystem={{measureSystem}}
            @property="recordedPostBoilVolume"
          />
        {{else}}
          <span class="text-muted">—</span>
        {{/if}}
      </T.Cell>
    </T.Row>
    <T.Row>
      <T.Cell>Recorded Final Gravity</T.Cell>
      <T.Cell>
        {{#if model.recordedFinalGravity}}
          {{model.recordedFinalGravity}}
        {{else}}
          <span class="text-muted">—</span>
        {{/if}}
      </T.Cell>
    </T.Row>
  </T.Body>
</Table>
