<div class="flex">

  <div class="bg-grey-light mr-6 p-4 rounded w-1/3">
    <div class="well recede-background">
      <h1 class="font-hairline mb-2">
        {{model.username}}
      </h1>
      {{#if model.image}}
        <img
          src={{model.image}}
          alt={{model.username}}
          class="mb-6"
        >
      {{/if}}
      {{#if model.bio}}
        <blockquote class="border-grey-dark border-l-4 font-hairline mb-6 pl-4 text-xl">
          <p>{{model.bio}}</p>
        </blockquote>
      {{/if}}

      {{#if this.isCurrentUser}}
        <p class="mb-6">Email: {{model.email}}</p>

        {{#link-to "profile.edit" class="btn btn-primary"}}
          <i class="glyphicon glyphicon-edit"></i> Edit Profile
        {{/link-to}}
      {{/if}}
    </div>
  </div>

  <div class="flex-1">
    <h2 class="font-hairline leading-normal mb-6 text-2xl">{{model.username}}'s Recent Brews</h2>
    <ul class="list-reset">
      {{#each this.recentBrews as |brew|}}
        {{partial "brew/brew-card"}}
      {{/each}}
    </ul>
  </div>
</div>
