<div class="row">

  <div class="col-md-4">
    <div class="well recede-background">
      <h1>
        {{model.username}}
      </h1>
      {{#if model.image}}
        <img {{bind-attr src=model.image}}>
      {{/if}}
      {{#if model.bio}}
        <blockquote>
          <p>{{model.bio}}</p>
        </blockquote>
      {{/if}}

      {{#if isCurrentUser}}
        <p>Email: {{model.email}}</p>

        {{#link-to 'profile.edit' class="btn btn-primary"}}
          <i class="glyphicon glyphicon-edit"></i> Edit Profile
        {{/link-to}}
      {{/if}}
    </div>
  </div>

  <div class="col-md-8">
    <h2>{{model.username}}'s Recent Brews</h2>
    <ul class="brews-list list-unstyled">
      {{#each brew in recentBrews}}
        {{partial "brew/brew-card"}}
      {{/each}}
    </ul>
  </div>
</div>
