{{#if @canEdit}}
  {{#link-to
    "hops.new"
    class="btn-primary btn-small float-right"
    title="Add Hop"
  }}
    <span class="glyphicon glyphicon-plus-sign"></span>
    Add Hop
  {{/link-to}}
{{/if}}
<h2 class="border-b font-normal mb-6">Hop Additions</h2>

<Table as |T|>
  <T.Head>
    <T.Row>
      <T.Header>Variety</T.Header>
      <T.Header>Form</T.Header>
      <T.Header>Use</T.Header>
      <T.Header>Weight</T.Header>
      <T.Header>Boil Time</T.Header>
      <T.Header>AA %</T.Header>
      <T.Header>IBUs</T.Header>
      {{#if @canEdit}}
        <T.Header colspan="2"></T.Header>
      {{/if}}
    </T.Row>
  </T.Head>
  <T.Body>
    {{#each @brew.decoratedHopAdditions as |addition|}}
      <T.Row>
        <T.Cell>{{addition.name}}</T.Cell>
        <T.Cell>{{addition.form}}</T.Cell>
        <T.Cell>{{addition.use}}</T.Cell>
        <T.Cell>{{localized-weight model=addition measureSystem=measureSystem}}</T.Cell>
        <T.Cell>{{addition.boilTime}}</T.Cell>
        <T.Cell>{{addition.alphaAcids}}</T.Cell>
        <T.Cell>{{addition.ibus}}</T.Cell>
        {{#if @canEdit}}
          <T.Cell>
            {{#link-to
              "hops.edit"
              addition.content
              class="btn-primary btn-small"
              title="Edit"
              data-toggle="tooltip"
            }}
              <span class="glyphicon glyphicon-edit"></span>Edit
            {{/link-to}}
          </T.Cell>
          <T.Cell>
            <button
              class="btn-secondary btn-small"
              title="Delete"
              {{action remove addition.content}}
            >
              <span class="glyphicon glyphicon-trash"></span>Delete
            </button>
          </T.Cell>
        {{/if}}
      </T.Row>
    {{/each}}
  </T.Body>
  <T.Foot>
    <T.Row>
      <T.Cell colspan="3">Total</T.Cell>
      <T.Cell>
        <LocalizedWeight
          @model={{this}}
          @measureSystem={{measureSystem}}
        />
      </T.Cell>
      <T.Cell colspan="2"> </T.Cell>
      <T.Cell>{{brew.totalIBUs}}</T.Cell>
      {{#if this.canEdit}}
        <T.Cell colspan="2"> </T.Cell>
      {{/if}}

    </T.Row>
  </T.Foot>
</Table>
