{{#if @canEdit}}
  {{#link-to
    "fermentables.new"
    class="btn-primary btn-small float-right"
    title="New"
  }}
    <span class="glyphicon glyphicon-plus-sign"></span>
    Add Fermentable
  {{/link-to}}
{{/if}}
<h2 class="border-b font-normal mb-6">Fermentable Additions</h2>

<Table as |T|>
  <T.Head>
    <T.Row>
      <T.Header>Name</T.Header>
      <T.Header>Color</T.Header>
      <T.Header>% Extract</T.Header>
      <T.Header>Weight</T.Header>
      {{#if @canEdit}}
        <T.Header colspan="2"></T.Header>
      {{/if}}
    </T.Row>
  </T.Head>
  <T.Body>
    {{#each @brew.decoratedFermentableAdditions as |addition|}}
      <T.Row>
        <T.Cell>
          {{addition.fermentable.name}}
        </T.Cell>
        <T.Cell>
          {{addition.fermentable.color}}
        </T.Cell>
        <T.Cell>
          {{addition.percentExtract}}
        </T.Cell>
        <T.Cell>
          <LocalizedWeight
            @model={{addition}}
            @measureSystem={{measureSystem}}
            @magnitude="high"
          />
        </T.Cell>
        {{#if @canEdit}}
          <T.Cell>
            {{#link-to
              "fermentables.edit"
              addition.content
              class="btn btn-default btn-xs"
              title="Edit"
              data-toggle="tooltip"
            }}
              <span class="glyphicon glyphicon-edit"></span>Edit
            {{/link-to}}
          </T.Cell>
          <T.Cell>
            <button
              class="btn btn-default btn-xs"
              title="Delete"
              {{action remove addition.content}}
            >
              <span class="glyphicon glyphicon-trash"></span>Delete
            </button>
          </T.Cell>
        {{/if}}
      </T.Row>
    {{/each}}
  </T.Body>
  <T.Foot>
    <T.Row>
      <T.Cell colspan="3">Total</T.Cell>
      <T.Cell>
        <LocalizedWeight
          @model={{this}}
          @measureSystem={{measureSystem}}
          @magnitude="high"
        />
      </T.Cell>
      {{#if @canEdit}}
        <T.Cell colspan="2"></T.Cell>
      {{/if}}
    </T.Row>
  </T.Foot>
</Table>
