<div class="panel panel-primary">
  <div class="panel-heading">
    {{#if canEdit}}
      {{#link-to 'yeasts.new' class="btn btn-default btn-xs pull-right" title="New"}}
        <span class="glyphicon glyphicon-plus-sign"></span>
        Add Yeast
      {{/link-to}}
    {{/if}}
    <h2 class="panel-title">Yeast Additions</h2>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Product ID</th>
        <th>Name</th>
        <th>Supplier</th>
        <th>Form</th>
        <th colspan={{computedColspan}}>Amount</th>
      </tr>
    </thead>
    <tbody>
      {{#each additions as |addition|}}
        <tr>
          <td>{{addition.productId}}</td>
          <td>{{addition.name}}</td>
          <td>{{addition.supplier}}</td>
          <td>{{addition.form}}</td>
          <td>{{addition.amount}} {{addition.unit}}</td>
          {{#if canEdit}}
            <td>
              {{#link-to 'yeasts.edit' addition class='btn btn-default btn-xs' title='Edit' data-toggle="tooltip"}}
                <span class="glyphicon glyphicon-edit"></span>
              {{/link-to}}
            </td>
            <td>
              <button {{action remove addition}} class="btn btn-default btn-xs" title="Delete">
                <span class="glyphicon glyphicon-trash"></span>
              </button>
            </td>
          {{/if}}
        </tr>
      {{/each}}
    </tbody>
    <tfoot>
      <tr><td colspan="7"></td></tr>
    </tfoot>
  </table>
</div>
