{{#modal-dialog param=this.model title="Edit Hop" close='closeModal' cancel='cancel' save='save'}}
<div class="col-md-12">
  <form role="form" class="form-horizontal">
    {{bs-select-field valueProperty=hop
      optionsContent=hops
      optionLabelPath="content.name"
      optionValuePath="content.id"
      prompt="Please select a hop" }}

    {{bs-select-field valueProperty=form
      optionsContent=forms
      prompt="Please select a form" }}

    {{bs-select-field valueProperty=use
      optionsContent=uses
      prompt="Please select a use" }}

    {{bs-text-field valueProperty=weightGrams appendText="g"}}
    {{bs-text-field valueProperty=boilTime appendText="minutes"}}
    {{bs-text-field valueProperty=alphaAcids appendText="% AA"}}
  </form>
</div>
{{/modal-dialog}}
