<ModalEditor
  @title="Edit Hop"
  @onClose={{action "close"}}
  @save={{action "saveModel" this.model}}
>

  <Form
    @model={{this}}
    class="mr-6" as |F|
  >
    <F.Select
      @model={{this.model}}
      @field="hop"
      @optionsContent={{this.hops}}
      @optionLabelPath="name"
      @prompt="Please select a hop"
    />

    <F.Select
      @model={{this.model}}
      @field="form"
      @optionsContent={{this.forms}}
      @optionLabelPath="name"
      @prompt="Please select a form"
    />

    <F.Select
      @model={{this.model}}
      @field="use"
      @optionsContent={{this.uses}}
      @optionLabelPath="name"
      @prompt="Please select a hop"
    />

    <F.ConvertibleTextField
      @field="weight"
      @type="weight"
      @measureSystem={{measureSystem}}
    />

    <F.TextField
      @model={{this.model}}
      @field="boilTime"
      @appendText="minutes"
    />

    <F.TextField
      @model={{this.model}}
      @field="alphaAcids"
      @appendText="% AA"
    />

  </Form>
</ModalEditor>
