{{#modal-dialog param=this.model title="Edit Hop" close='closeModal' cancel='cancel' save='save'}}
  <div class="col-md-12">
    <form role="form" class="form-horizontal">
      {{bs-select-field model=model property="hop"
        optionsContent=hops
        optionLabelPath="name"
        prompt="Please select a hop" }}

      {{bs-select-field model=model property="form"
        optionsContent=forms
        prompt="Please select a form" }}

      {{bs-select-field model=model property="use"
        optionsContent=uses
        prompt="Please select a use" }}

      {{convertible-text-field object=this convertibleProperty='model.weight' type="weight" measureSystem=measureSystem}}
      {{bs-text-field model=model property="boilTime" appendText="minutes"}}
      {{bs-text-field model=model property="alphaAcids" appendText="% AA"}}
    </form>
  </div>
{{/modal-dialog}}
