<ModalDialog
  @param={{this.model}}
  @title="Edit Hop"
  @close={{action "close"}}
  @cancel="cancel"
  @save={{action "saveModel"}}
>
  <div class="col-md-12">
    <form role="form" class="form-horizontal">
      <BsSelectField
        @model={{this.model}}
        @property="hop"
        @optionsContent={{this.hops}}
        @optionLabelPath="name"
        @prompt="Please select a hop"
      />

      <BsSelectField
        @model={{this.model}}
        @property="form"
        @optionsContent={{this.forms}}
        @prompt="Please select a hop"
      />

      <BsSelectField
        @model={{this.model}}
        @property="use"
        @optionsContent={{this.uses}}
        @prompt="Please select a hop"
      />

      <ConvertibleTextField
        @object={{this}}
        @convertibleProperty="weight"
        @type="weight"
        @measureSystem={{measureSystem}}
      />

      <BsTextField
        @model={{model}}
        @property="boilTime"
        @appendText="minutes"
      />

      <BsTextField
        @model={{model}}
        @property="alphaAcids"
        @appendText="% AA"
      />

    </form>
  </div>
</ModalDialog>
