<ModalDialog
  @param={{this.model}}
  @title="Edit Yeast"
  @close={{action "close"}}
  @cancel="cancel"
  @save={{action "saveModel"}}
>
  <div class="col-md-8">
    <form role="form" class="form-horizontal">
      <BsSelectField
        @model={{this.model}}
        @property="yeast"
        @optionsContent={{yeasts}}
        @optionLabelPath="description"
        @prompt="Please select a yeast"
      />
      <BsSelectField
        @model={{this.model}}
        @property="unit"
        @optionsContent={{this.units}}
        @prompt="Please select a unit"
      />
      <BsTextField
        @model={{model}}
        @property="amount"
        @appendText="unit"
      />
    </form>
  </div>
</ModalDialog>
