<ModalEditor
  @title="Edit Yeast"
  @onClose={{action "close"}}
  @save={{action "saveModel" this.model}}
>
  <Form
    @model={{this.model}}
    class="mr-6" as |F|
  >
    <F.Select
      @field="yeast"
      @optionsContent={{yeasts}}
      @optionLabelPath="description"
      @prompt="Please select a yeast"
    />
    <F.Select
      @field="unit"
      @optionsContent={{this.units}}
      @prompt="Please select a unit"
    />
    <F.TextField
      @field="amount"
      @appendText="unit"
    />
  </Form>
</ModalEditor>
