<ModalEditor
  @title="Edit Fermentable"
  @onClose={{action "close"}}
  @save={{action "saveModel" this.model}}
>
  <div class="flex">
    <Form
      @model={{this}}
      class="w-1/2 mr-6" as |F|
    >
      <F.Select
        @model={{this.model}}
        @field="fermentable"
        @optionsContent={{fermentables}}
        @optionLabelPath="description"
        @prompt="Please select a fermentable"
      />
      <F.ConvertibleTextField
        @field="weight"
        @type="weightScaled"
      />
    </Form>
    <div class="w-1/2">
      <Table as |T|>
        <T.Head>
          <T.Header colspan="2">
            Fermentable Details
          </T.Header>
        </T.Head>
        <T.Body>
          <T.Row>
            <T.Cell>ID:</T.Cell>
            <T.Cell>{{this.model.fermentable.id}}</T.Cell>
          </T.Row>
          <T.Row>
            <T.Cell>Name:</T.Cell>
            <T.Cell>{{this.model.fermentable.name}}</T.Cell>
          </T.Row>
          <T.Row>
            <T.Cell>Supplier:</T.Cell>
            <T.Cell>{{this.model.fermentable.supplier}}</T.Cell>
          </T.Row>
          <T.Row>
            <T.Cell>Yield:</T.Cell>
            <T.Cell>{{this.model.fermentable.totalYield}} %</T.Cell>
          </T.Row>
          <T.Row>
            <T.Cell>Color:</T.Cell>
            <T.Cell>{{this.model.fermentable.color}} °L</T.Cell>
          </T.Row>
        </T.Body>
      </Table>
    </div>
  </div>
</ModalEditor>
