{{#modal-dialog param=this.model title="Edit Fermentable" close='closeModal' cancel='cancel' save='save'}}
<div class="col-md-8">
  <form role="form" class="form-horizontal">
    {{bs-select-field valueProperty=fermentable
      optionsContent=fermentables
      optionLabelPath="content.description"
      optionValuePath="content.id"
      prompt="Please select a fermentable" }}
    {{bs-text-field valueProperty=weight appendText="g"}}
  </form>
</div>
<div class="col-md-4">
  <div class="well">
    <table class="table">
      <thead>
        <tr>
          <th colspan=2">
            Fermentable Details
          </th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>Name:</td>
          <td>{{fermentable.name}}</td>
        </tr>
        <tr>
          <td>Supplier:</td>
          <td>{{fermentable.supplier}}</td>
        </tr>
        <tr>
          <td>Yield:</td>
          <td>{{fermentable.totalYield}} %</td>
        </tr>
        <tr>
          <td>Color:</td>
          <td>{{fermentable.color}} °L</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
{{/modal-dialog}}
