<ModalDialog
  @param={{this.model}}
  @title="Edit Fermentable"
  @close={{action "close"}}
  @cancel="cancel"
  @save={{action "saveModel"}}
>
  <div class="col-md-8">
    <form role="form" class="form-horizontal">
      <BsSelectField
        @model={{this.model}}
        @property="fermentable"
        @optionsContent={{fermentables}}
        @optionLabelPath="description"
        @prompt="Please select a fermentable"
      />
      <ConvertibleTextField
        @object={{this}}
        @convertibleProperty="weight"
        @type="weightScaled"
        @measureSystem={{measureSystem}}
      />
    </form>
  </div>
  <div class="col-md-4">
    <div class="well">
      <table class="table">
        <thead>
          <tr>
            <th colspan="2">
              Fermentable Details
            </th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>ID:</td>
            <td>{{this.model.fermentable.id}}</td>
          </tr>
          <tr>
            <td>Name:</td>
            <td>{{this.model.fermentable.name}}</td>
          </tr>
          <tr>
            <td>Supplier:</td>
            <td>{{this.model.fermentable.supplier}}</td>
          </tr>
          <tr>
            <td>Yield:</td>
            <td>{{this.model.fermentable.totalYield}} %</td>
          </tr>
          <tr>
            <td>Color:</td>
            <td>{{this.model.fermentable.color}} °L</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</ModalDialog>
