<div class="bg-grey-lightest min-h-screen text-grey-darkest flex flex-col">
  <nav role="navigation" class="bg-grey-light p-4 flex justify-between">
    <div class="flex items-center">
      {{#link-to
        "index"
        class="font-hairline no-underline text-2xl text-grey-darker mr-6"
      }}Broue.io
      {{/link-to}}

      {{#link-to
        "brews.new"
        class="bg-grey-lightest hover:bg-white px-4 py-2 rounded text-grey-darkest no-underline mr-6"
      }}
        <span class="glyphicon glyphicon-plus-sign"></span> New Brew
      {{/link-to}}
      <button
        type="button"
        class="hover:bg-white px-4 py-2 text-grey-darkest no-underline rounded-l {{if isUS "bg-grey-lighter" "bg-grey-lightest"}}"
        {{action "setMeasureSystem" "us"}}
      >
        U.S.
      </button>
      <button
        type="button"
        class="hover:bg-white px-4 py-2 text-grey-darkest no-underline rounded-r {{if isMetric "bg-grey-lighter" "bg-grey-lightest"}}"
        {{action "setMeasureSystem" "metric"}}
      >
        Metric
      </button>

    </div>

    <div class="flex items-center">
      <ul class="list-reset flex">
        {{#if user.username}}
          <li class="mr-6">
            {{#link-to
              "brews"
              class="hover:text-grey-darkest no-underline text-grey-darker"}}My Brews{{/link-to}}
          </li>
          <li>
            {{#basic-dropdown as |dd|}}
              {{#dd.trigger class="border p-2 -m-2 border-grey rounded outline-none"}}{{user.username}}{{/dd.trigger}}

              {{#dd.content class="p-2 bg-grey-lighter shadow rounded"}}
                <ul class="list-reset" role="menu">
                  <li class="p-2 border-b">
                    {{link-to
                      "View Profile"
                      "profile.show"
                      class="hover:text-grey-darkest no-underline text-grey-darker"
                    }}
                  </li>
                  <li class="p-2">
                    <a
                      href
                      class="hover:text-grey-darkest no-underline text-grey-darker"
                      {{action "logout"}}
                    >
                      Logout
                    </a>
                  </li>
                </ul>
              {{/dd.content}}
            {{/basic-dropdown}}
          </li>
        {{else}}
          <li class="ml-6">
            {{#link-to
              "login"
              class="hover:text-grey-darkest text-grey-darker no-underline"
            }}Login
            {{/link-to}}
          </li>
          <li class="ml-6">
            {{#link-to
              "signup"
              class="hover:text-grey-darkest text-grey-darker no-underline"
            }}Sign Up
            {{/link-to}}
          </li>
        {{/if}}
      </ul>
    </div>

  </nav>

  <div class="container mx-auto pt-8 flex-1">
    {{flash-messages}}
    {{outlet}}
  </div>
  {{outlet "modal"}}
  <footer class="bg-grey-lighter pin-b py-4 text-center">
    <p>Questions? Comments? Email <a href="mailto:sohara@sohara.com">sohara@sohara.com</a>.</p>
  </footer>
</div>
