<div class="row">
  <div class="col-md-8">
    <h2>{{model.name}} <small>{{model.style.subcategoryName}}</small></h2>
    <h3>by {{model.user.username}}</h3>
  </div>
  <div class="col-md-4 text-right brew-actions">
    {{#if canEdit}}
      {{link-to "Edit" "brews.edit" model class="btn btn-primary" title="Edit"}}
      <button {{action "destroyBrew" model}} class="btn btn-danger" title="Destroy">Destroy</button>
    {{/if}}
  </div>
</div>

<ul class="nav nav-tabs nav-justified">
  {{#link-to "recipe" tagName="li" title="Recipe"}}<a>Recipe</a>{{/link-to}}
  {{#link-to "specs" tagName="li" title="Specs"}}<a>Specs</a>{{/link-to}}
  {{#link-to "brew_day" tagName="li" title="Brew Day"}}<a>Brew Day</a>{{/link-to}}
  {{#link-to "notes" tagName="li" title="Notes"}}<a>Notes</a>{{/link-to}}
</ul>

{{outlet}}
