<div class="row">
  <div class="col-md-8">
    <h2 class="font-hairline mb-2 text-4xl">{{model.name}} <small class="text-grey-dark">{{model.style.subcategoryName}}</small></h2>
    <h3 class="mb-6 text-2xl">by {{model.user.username}}</h3>
  </div>
  <div class="col-md-4 text-right brew-actions">
    {{#if canEdit}}
      {{link-to "Edit" "brews.edit" model class="btn btn-primary" title="Edit"}}
      <button {{action "destroyBrew" model}} class="btn btn-danger" title="Destroy">Destroy</button>
    {{/if}}
  </div>
</div>

<ul class="list-reset flex border-b mb-6">

  <li class="-mb-px mr-1">
    {{#link-to
      "recipe"
      title="Recipe"
      activeClass="border-l border-r border-t"
      class="bg-grey-lightest hover:text-black inline-block no-underline px-4 py-2 rounded-t text-grey-darker"
    }}
      Recipe
    {{/link-to}}
  </li>
  <li class="-mb-px mr-1">
    {{#link-to
      "specs"
      title="Specs"
      activeClass="border-l border-r border-t"
      class="bg-grey-lightest hover:text-black inline-block no-underline px-4 py-2 rounded-t text-grey-darker"
    }}
      Specs
    {{/link-to}}
  </li>
  <li class="-mb-px mr-1">
    {{#link-to
      "brew_day"
      title="Brew Day"
      activeClass="border-l border-r border-t"
      class="bg-grey-lightest hover:text-black inline-block no-underline px-4 py-2 rounded-t text-grey-darker"
    }}
      Brew Day
    {{/link-to}}
  </li>
  <li class="-mb-px mr-1">
    {{#link-to
      "notes"
      title="Notes"
      activeClass="border-l border-r border-t"
      class="bg-grey-lightest hover:text-black inline-block no-underline px-4 py-2 rounded-t text-grey-darker"
    }}
      Notes
    {{/link-to}}
  </li>
</ul>

{{outlet}}
