<div class="panel panel-primary">
  <div class="panel-heading">
    {{#if canEdit}}
      {{#link-to 'fermentables.new' class="btn btn-default btn-xs pull-right" title="New"}}
        <span class="glyphicon glyphicon-plus-sign"></span>
        Add Fermentable
      {{/link-to}}
    {{/if}}
    <h2 class="panel-title">Fermentable Additions</h2>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Color</th>
        <th>% Extract</th>
        <th {{bind-attr colspan=view.computedColspan}}>Weight</th>
      </tr>
    </thead>
    {{#each}}
    <tbody>
    <tr>
      <td>{{name}}</td>
      <td>{{color}}</td>
      <td>{{percentExtract}}</td>
      <td>{{localized-weight model=this measureSystem=measureSystem magnitude="high"}}</td>
      {{#if canEdit}}
        <td>
          {{#link-to 'fermentables.edit' this class='btn btn-default btn-xs' title='Edit' data-toggle="tooltip"}}
              <span class="glyphicon glyphicon-edit"></span>
            {{/link-to}}
        </td>
        <td>
          <button {{action 'destroyRecord' this}} class="btn btn-default btn-xs" title="Delete">
            <span class="glyphicon glyphicon-trash"></span>
          </button>
        </td>
      {{/if}}
    </tr>
    </tbody>
    {{/each}}
    <tfoot>
      <tr>
        <td colspan="3">Total</td>
        <td>{{localized-weight model=this measureSystem=controller.measureSystem magnitude="high"}}</td>
      </tr>
    </tfoot>
  </table>
</div>
