<h2>Fermentable Additions</h2>

<table class="table">
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Weight</th>
    <th>Fermentalbe Type</th>
    <th>Mashable</th>
    <th>Extract Units</th>
  </tr>
  {{#each}}
  <tr>
    <td>{{id}}</td>
    <td>{{name}}</td>
    <td>{{weight}}</td>
    <td>{{fermentableType}}</td>
    <td>{{mashable}}</td>
    <td>{{extractUnits}}</td>
  </tr>
  {{/each}}
</table>
