<div class="panel panel-primary">
  <div class="panel-heading">
    <h2 class="panel-title">Hop Additions</h2>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Variety</th>
        <th>Form</th>
        <th>Use</th>
        <th>Weight</th>
        <th>Boil Time</th>
        <th>AA %</th>
        <th colspan="2">IBUs</th>
      </tr>
    </thead>
    <tbody>
      {{#each}}
      <tr>
        <td>{{name}}</td>
        <td>{{form}}</td>
        <td>{{use}}</td>
        <td>{{weight}} g</td>
        <td>{{boilTime}}</td>
        <td>{{alphaAcids}}</td>
        <td>{{ibus}}</td>
        <td>
          {{#link-to 'hops.edit' this class='btn btn-default btn-xs' title='Edit' data-toggle="tooltip"}}
              <span class="glyphicon glyphicon-edit"></span>
            {{/link-to}}
        </td>
      </tr>
      {{/each}}
    </tbody>
    <tfoot>
      <tr>
        <td colspan="3">Total</td>
        <td>{{totalWeight}} g</td>
        <td colspan="2"> </td>
        <td>{{totalIBUs}}</td>
      </tr>
    </tfoot>
  </table>
</div>
