<h2>Hop Additions</h2>

<table class="table">
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Weight</th>
    <th>Boil Time</th>
    <th>IBUs</th>
    <th>Utilization</th>
  </tr>
  {{#each}}
  <tr>
    <td>{{id}}</td>
    <td>{{name}}</td>
    <td>{{weight}}</td>
    <td>{{boilTime}}</td>
    <td>{{ibus}}</td>
    <td>{{utilization}}</td>
  </tr>
  {{/each}}
</table>
