<div class="jumbotron">
  <h1>Free Online Brewing Recipe Design</h1>
  <p>Broue.io let's you design, catalogue and share your homebrew recipes and memories.</p>
  <p>{{link-to "Create a brew" 'brews.new' class="btn btn-primary btn-lg" role="button"}}</p>
</div>
<div class="row">
  <div class="col-md-6">
    <h2>Latest Brews</h2>
    <ul class="brews-list list-unstyled">
      {{#each brew in recentBrews}}
      {{partial "brew/brew-card"}}
      {{/each}}
    </ul>
  </div>

  <div class="col-md-6">
    <h2>Active Brewers</h2>
    <ul class="brews-list list-unstyled">
      {{#each user in activeUsers}}
        {{#link-to 'user' user tagName="li"}}
          <div class="info">
            <h3>
              {{user.username}}
            </h3>
            <p class="text-muted">
              Last active {{time-from-now user.updatedAt}}
            </p>
            <div class="brew-count">
              {{user.brewCount}} <span class="text-muted">brews</span>
            </div>
          </div>
        {{/link-to}}
      {{/each}}
    </ul>
  </div>
</div>
