<div class="flex justify-center">
  <div class="max-w-xs w-full">
    <Form @model={{this}} @oninput={{action "resetErrorMessage"}} as |F|>
      <h3 class="mb-6">Sign in</h3>
      <F.TextField @field="email" @type="email" />
      <F.TextField @field="password" @type="password" />
      {{#if errorMessage}}
        <p data-test-selector="alert" class="bg-grey-lighter border mb-6 p-4 rounded">{{errorMessage}}</p>
      {{/if}}
      <F.Submit
        class="btn-primary"
        @action={{action "signIn"}}
      >
        Sign in
      </F.Submit>
    </Form>
    <p class="text-sm">Don't have any acount? {{link-to "Sign up here." "signup" class="text-grey-darker no-underline"}}</p>
  </div>
</div>
