{{#statbox-group}}
  {{statbox-item property=originalGravity unitOfMesure="S.G."
    propertyDescription="Original Gravity" colorClass="blue"}}
  {{statbox-item property=preBoilGravity unitOfMesure="S.G."
    propertyDescription="Preboil Gravity" colorClass="purple"}}
  {{statbox-item property=colorSRM unitOfMesure="SRM" faIcon="fa-tint"
    propertyDescription="Color" colorClass="yellow"}}
  {{statbox-item property=totalIBUs unitOfMesure="IBU" faIcon="fa-leaf"
    propertyDescription="Bitterness" colorClass="green"}}
{{/statbox-group}}
<ul>
{{#each model.yeastAdditions as |addition|}}
<li>
  {{addition.name}}
</li>
{{/each}}
</ul>
{{fermentable-additions additions=model.fermentableAdditions canEdit=canEdit}}
{{!render "fermentableAdditions"}}
{{!render "hopAdditions"}}
{{!render "yeastAdditions"}}
{{yeast-additions additions=model.yeastAdditions canEdit=canEdit}}
