<ul>
  <li class='brew-name'>Name: {{name}}</li>
  <li class='brew-name'>Style: {{style.fullName}}</li>
</ul>
<h3>
  Original Gravity: {{originalGravity}} <span class="unit">O.G.</span>
</h3>
<h3>
  Pre-boil Gravity {{preBoilGravity}}
</h3>
<h3>
  Color SRM {{colorSRM}}
</h3>
<h3>
  IBUs: {{totalIBUs}}
</h3>

{{render "fermentableAdditions"}}
{{render "hopAdditions"}}
