<div class="flex justify-center">
  <div class="max-w-sm w-full">
    <Form @model={{this}} @oninput={{action "resetErrorMessage"}} as |F|>
      <h3 class="mb-6">Sign up for an account</h3>
      <F.TextField @field="email" @type="email" />
      <F.TextField @field="password" @type="password" />
      <F.TextField @field="passwordConfirmation" @type="password" />
      <F.TextField @field="username" />
      {{#if errorMessage}}
        <p class="bg-grey-lighter border mb-6 p-4 rounded">{{errorMessage}}</p>
      {{/if}}
      <F.Submit
        @action={{action "signIn"}}
        class="btn-primary"
        disabled={{isProcessing}}
      >
        Sign Up
      </F.Submit>
    </Form>
  </div>
</div>
